/* CSS Document */
/*设置背景色,.后表示class的属性值，#表示id值为*/
/*p,a,div,.myclass,#abc {
		background-color:cadetblue
   }

*/
div[id] {
	background-color: #aaa;
}
div[id*=xx] {
	background-color: #999;
}
/*div.myclass{
	background-color: aqua
}
*/
p.a:first-letter {
	font-size: 20pt;
	color: #00f;
}
div>div.zi:before {
	content: '类型:';
	color: cadetblue;
	font-weight: bord;
	background-color: cornsilk;
}
div>div.zi:after {
	content: url(picture/gz.png)
}
body {
	background-color: darkgray;
}
option {/*引入计数器属性添加编号*/
	counter-increment: mycounter;
}
option:before {/*使用自定义编号*/
	content: counter(mycounter, square);
}
Selector:root {
	background-color: cornflowerblue
}
li:first-child {/*定义对作为其父元素的第一个子节点的li元素起作用的CSS样式*/
	border: 1px solid black;
}
li:nth-child(odd) {/*定义对作为其父元素的第n个子节点的li元素起作用的CSS样式,填奇数偶数也可以*/
	color: crimson
}
Selector:empty {
	color: fuchsia
}

td {
	border:1px solid black;
	padding:4px;
}
tr:hover{/*为处于坐标悬停的表格定义CSS样式*/
	background-color:#392A9A;
}
input:active{/*为处于激活状态的input元素定义CSS样式*/
	background-color: blue;
}
:focus{/*为得到焦点的任意元素定义CSS样式*/
	text-decoration:underline;
}
enabled{/*为可用的元素定义CSS样式*/
	font-family:"黑体";
	font-weight:bold;
	font-size:14pt;
}
：disabled{/*为不可用的元素定义CSS样式*/
	font-family:"隶书";
	font-size:14pt;
}
:checked{/*为处于够选状态的任意元素定义CSS样式*/
	outline:red solid 5px;
}
:default{/*伪元素选择器*/
	outline:#bbb solid 5px;
}

::selection{/*为内容被选择的元素设置CSS样式*/
	background-color: red;
	color:blue;
}
::-moz-selection{/*专为基于 gecko内核的浏览器设置CSS样式,浏览器专属的属性*/
	background-color: red;
	color:white;
}

:target{/*高亮正在被访问的锚点，比如访问返回顶部的超链接*/
	background-color: brown;
}
div.luhu {
    border:1px solid  #2E2E2E;
	height:50px;
	width:240px;
	resize:both;
	overflow: auto;
}

div.lh{
	width:400px;
	height:300px;
	padding: 80px
}
div.ll{
	width:280px;
	height:80px;
	background-color: aquamarine;
	background-clip:content-box;
	border: 30px solid #555;
	padding: 30px;
}
div.hh{/*漂浮窗设置变形与动画,位移，旋转，缩放*/
	background-color: gray;
	outline:rgba(50,50,50,0.2) ridge 30px;
	transform: translate(100px,100px) rotate(30deg) scale(0.8,0.8) skewx(30deg);
	transition: background-color 3s linear;
}
div.hh:hover{/*当鼠标悬停在该div上时，发生线性变化的动画*/
	background-color: yellow;
	font-size: 40px;
}
div.left{/*对联设置左*/
	background-color: red;
	background-clip: content-box;
	padding-left: 30%;
	width: 50px;
	color: black;
	font-size: 50px;
	float:left;
}
div.right{/*对联设置右*/
	padding-right: 30%;
	width: 50px;
	background-color: red;
	background-clip: content-box;
	color: black;
	font-size: 50px;
	float:right;
}
p.happy{
	width: 250px;
	background-color: red;
	color:black;
	font-size: 50px;
}

@media all and (max-width : 1603px ){/*当屏幕尺寸小于1603px时的对联布局*/
	body{
		width:auto;
	}
	div.left {
	background-color: red;
	background-clip: content-box;
	padding-left: 10%;
	width: 50px;
	color: black;
	font-size: 50px;
	float:left;
}
div.right{
	padding-right: 10%;
	width: 50px;
	background-color: red;
	background-clip: content-box;
	color: black;
	font-size: 50px;
	float:right;
	
}
}
div.container{  /*默认情况下，三段文字的布局*/
	float: left;
	width: auto;

}
div.container>div{
	margin: 5px;
	border:2px solid black;
	padding: 5px;
	background-color: aquamarine;
	box-sizing: border-box;/*box-sizing属性用来设置width，height控制哪些区域的宽度，高度*/
}
div.divl{
	margin-right: 5px;
	height: 190px;
    width: 533px;
	float: left;
}
div.divc{
	margin-right: 5px;
	height: 190px;
    width: 533px;
	float:left;
	clear: none;
}
div.divr{
	height: 190px;
    width: 534px;
	float:left;
}
@media all and (max-width : 1670px ){/*当宽度小于1670px时的布局*/
	div.container{  
	float: left;
	width: auto;

}
div.container>div{
	margin: 5px;
	border:2px solid black;
	padding: 5px;
	background-color: aquamarine;
	box-sizing: border-box;/*box-sizing属性用来设置width，height控制哪些区域的宽度，高度*/
}
div.divl{
	margin-right: 5px;
	height: 190px;
    width: 533px;
	float: left;
}
div.divc{
	margin-right: 5px;
	height: 190px;
    width:533px;
	float:left;
	clear: right;
}
div.divr{
	height: 190px;
    width: 1066px;
	float:left;
}
}
@media all and (max-width : 1200px ){/*当宽度小于1200px时的布局*/
	div.container{  
	float: left;
	width: auto;

}
div.container>div{
	margin: 5px;
	border:2px solid black;
	padding: 5px;
	background-color: aquamarine;
	box-sizing: border-box;/*box-sizing属性用来设置width，height控制哪些区域的宽度，高度*/
}
div.divl{
	margin-right: 5px;
	height: auto;
    width: auto;
	float: left;
	clear: none;
}
div.divc{
	margin-right: 5px;
	height: auto;
    width: auto;
	float:left;
	clear: none;
}
div.divr{
	height: auto;
    width: auto;
	float:left;
	clear: none;
}
}





































